@tailwind base;
@tailwind utilities;
@tailwind components;

#__next {
    background-color: #EDEEEF;
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
}

body {
    background-color: #EDEEEF;
}

.textDots1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.textDots2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.textDots3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.textDots4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.container, .con {
    max-width: 1372px !important;
}

#hover-red {
    transition: .2s;
}

.group:hover #hover-red {
    stroke: #DB0060;
    transition: .2s;
}

.ticketsSwiper {
    height: 100%;
}

.ticketsSwiper .swiper-slide {
    padding-bottom: 25px;
}

.ticketsSwiper .swiper-pagination {
    bottom: 17px;
}

.ticketsArrowPrev, .ticketsArrowNext {
    position: absolute;
    top: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ticketsArrowNext {
    right: 0;
}

.swiper-button-prev, .swiper-button-next {
    display: none !important;
}

.borders::after, .borders::before {
    content: "";
    position: absolute;
    bottom: -37px;
}

.borders::after {
    right: 0;
    content: url(/images/icons/rightBorder.svg);
}

.borders::before {
    left: 0;
    content: url(/images/icons/leftBorder.svg);
}

:where(.css-dev-only-do-not-override-1s3dcof).ant-table-wrapper .ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    display: none;
}

.pointsTable .ant-table-thead .ant-table-cell {
    padding: 14px 16px;
    border-bottom: none;
    background-color: #d9d9d933;
}

.pointsTable thead > tr:first-child th:first-child {
    border-start-start-radius: 16px !important;
    border-end-start-radius: 16px !important;
}

.pointsTable thead > tr:first-child th:last-child {
    border-start-end-radius: 16px !important;
    border-end-end-radius: 16px !important;
}

.ant-form-item-required::before {
    display: none !important;
}

.point-filter .ant-select, .ant-select-selector, .point-filter .ant-input, .point-filter .ant-select-selection-search-input, .point-filter .ant-picker {
    height: 48px !important;
    border-color: rgba(56, 56, 56, 0.2) !important;

}


.profileInputs .ant-select, .ant-select-selector, .profileInputs .ant-input, .point-filter .ant-select-selection-search-input, .profileInputs.ant-picker {
    border-color: transparent !important;
}

.profileInputs .ant-picker {
    border-color: transparent !important;

}

.point-filter .ant-input, .point-filter .ant-select-selector, .point-filter .ant-picker {
    padding-left: 24px !important;
}

.point-filter .ant-select-selection-search-input, .point-filter .ant-input, .point-filter .ant-select-selector, .point-filter .ant-picker {
    display: flex;
    align-items: center;
    border-radius: 12px;
}

.point-filter .ant-form-item-label {
    padding-bottom: 4px;
}


/*.point-filter .ant-select-selector {*/
/*    overflow-y: scroll;*/
/*}*/

.point-filter .ant-select-selection-overflow-item {
    margin-top: 10px;
}

.point-filter .ant-form-item-label label {
    color: #38383899;
    font-size: 14px;
}

.codeModel .ant-modal-content {
    padding: 30px;
}

.dashboard-point {

}

.dashboard-point .ant-table-cell {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.dashboard-point th.ant-table-cell {
    background-color: white !important;
    color: #383838 !important;
    font-weight: 400 !important;
}

.dashboard-point td.ant-table-cell {
    color: #383838B3 !important;
}

.dashboard-point .ant-table-cell {
    padding: 14px 16px !important;
    border-bottom: none;
}

.ant-picker-cell-range-end.ant-picker-cell-in-view .ant-picker-cell-inner {
    background-color: #DB0060 !important;
}

.ant-picker-cell-range-start .ant-picker-cell-inner {
    background-color: #DB0060 !important;
}

.ant-picker-cell-inner {
    color: #383838;
}

.ant-picker-content th {
    color: #383838;
}

.leaderboard .ant-table-cell {
    padding: 0 !important;
    height: 50px;
}

.leaderboard .ant-table-thead {
    display: none;
}

.rang {
    background-image: url(/images/icons/rang.svg);
}

.removeHeaderBg .ant-table-thead .ant-table-cell {
    background-color: transparent !important;
}

tr[data-row-key="4"] {
    /*background-color: yellow;*/
    /*display: none;*/
}

.confirm .ant-btn-primary {
    background-color: #1677ff !important;
}

@media (max-width: 768px) {
    .borders {
        display: none;
    }
}

@media (max-width: 768px) {
    .codeModel .ant-modal-content {
        padding: 12px;
    }
}

.colorsSwipper {
    width: 100%;
}

.colorsSwipper .swiper-wrapper {
    width: 100%;
}


.avatarSwipper {
    height: 200px;
    padding-top: 30px !important;
}

.avatarSwipper .swiper-slide-active {
    transform: scale(1.8) !important;
}

.avatarSwipper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.reviewModal .ant-modal-content {
    padding-top: 50px;
}
