@tailwind base;
@tailwind utilities;
@tailwind components;

#__next {
    background-color: #EDEEEF;
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
}

body {
    background-color: #EDEEEF;
}

.container, .con {
    max-width: 1372px !important;
}

#hover-red {
    transition: .2s;
}

.group:hover #hover-red {
    stroke: #DB0060;
    transition: .2s;
}

.ticketsSwiper {
    height: 100%;
}
.ticketsSwiper .swiper-slide {
    padding-bottom: 25px;
}

.ticketsSwiper .swiper-pagination{
    bottom: 17px;
}

.ticketsArrowPrev, .ticketsArrowNext {
    position: absolute;
    top: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ticketsArrowNext {
    right: 0px;
}

.swiper-button-prev, .swiper-button-next {
    display: none !important;
}